In [1]:
from sqlalchemy import create_engine, inspect

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
database_path = "mojo_update.sqlite"
conn_string = f"sqlite:///{database_path}"

# Create an engine that can talk to the database
engine = create_engine(conn_string)

In [3]:
# get all tables
inspector_gadget = inspect(engine)
tables = inspector_gadget.get_table_names()
for table in tables:
    print(table)
    
    # get all columns in table
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column)
    print()

director_details
{'name': 'director_id', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'director', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

genre_details
{'name': 'genre_id', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'genre_1', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

movies_data
{'name': 'movie_id', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'title', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'mpaa_id', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'director_id', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'main_actor_1', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'main_actor_2', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'main_actor_3', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'main_actor_4', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'budget', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'domestic', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'genre_id', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'runtime', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'release_date', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

mpaa_details
{'name': 'mpaa_id', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'mpaa', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

In [5]:
# Make a connection to the SQL database for displaying the count of movies based on genre
conn = engine.connect()

query = """
        SELECT
         * from
        movies_data;
        """

df1 = pd.read_sql(query, conn)
df1.head()

,movie_id,title,mpaa_id,director_id,main_actor_1,main_actor_2,main_actor_3,main_actor_4,budget,domestic,genre_id,runtime,release_date
0,tt0099165,The Bonfire of the Vanities,1,1,Tom Hanks,Bruce Willis,Melanie Griffith,Kim Cattrall,47000000.0,15691192.0,1,125,1990-12-22
1,tt0099611,Frankenhooker,1,2,James Lorinz,Joanne Ritchie,Patty Mullen,J.J. Clark,2500000.0,205068.0,1,85,1990-06-01
2,tt0099674,The Godfather: Part III,1,3,Al Pacino,Diane Keaton,Andy Garcia,Talia Shire,54000000.0,66666062.0,2,162,1990-12-25
3,tt0099747,Havana,1,4,Robert Redford,Lena Olin,Alan Arkin,Tomas Milian,40000000.0,9243140.0,3,144,1990-12-14
4,tt0100029,Lionheart,1,5,Jean-Claude Van Damme,Harrison Page,Deborah Rennard,Lisa Pelikan,6000000.0,24078196.0,4,108,1990-01-11